.body {
  overflow: hidden;
}

.navbar {
  background-color: lightsteelblue;
  padding: 0;
}

.navbar-brand {
  display: flex;
  justify-content: flex-end;
}

.navbar-nav {
  width: 100vw;
  justify-content: space-between;
  flex-direction: row;
}

a {
  color: black !important;
}

.links {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.btn {
  border-color: lightsteelblue;
}

.content {
  display: flex;
  width: 100vw;
}

.quoteContainer {
  display: flex;
  justify-content: center;
  width: 50%;
  align-items: center;
}

.innerContainer {
  text-align: center;
}

.imgContainer {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  height: 100%;
}

button {
  background-color: lightsteelblue;
  margin-top: 10px;
}

.i4ewOd-pzNkMb-haAclf {
  display: none !important;
}

.coverageMap {
  width: 100vw;
  display: flex;
}

.contactForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
